<div class="wrap">
<nav class="menu">
  <ul>
    <li>
       <%= link_to 'My Blog', controller: 'articles' %>
    </li>
    <li>
        <a href="#">Contact</a>
   </li>
 </ul>
 </nav>

    <aside class="sidebar">
        <div class="widget">
          <h2>Raquel</h2>
           <p>Hello, my name’s Raquel. I’m 25 years old. I live in Miami.<br> raquelWeinbach@gmail.com</p>
        </div>
      <div class="widget">
        <h2>My Blog</h2>
          <p>My blog is about....</p>
       </div>
   </aside>
            <div class="blog">
      <% @articles.each do |article| %>
          <div class="conteudo">
          <h1> <%= article.title %></h1>
    <hr>
    <p>
      <%= article.text %>
    </p>
    <%= link_to 'Read more →', article_path(article) %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
   <% end %>       
   <%= link_to 'New article', new_article_path %>                                                                                                                                                   
             </div>

